@import '~react-image-gallery/styles/scss/image-gallery.scss';

$body-color: lightslategray;

html,
body,
#root {
  height: 100%;
}

#root {
  display: grid;
}

body {
  color: $body-color;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}
