{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "debug": true,
        "corejs": 3,
        "useBuiltIns": "usage"
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ]
}
